div{
  text-align:center;
  margin-top: 50px;
  border:2px solid slategray;
  padding:20px;
  border-radius:20px;
  box-shadow:5px 5px 15px 2px black;
  background-color:lightgreen;
}
body{
  background-color:lightblue;
  background-image:url("/website project/images (8).jpeg");
}
button {
  margin:10px;
  padding:5px;
  width:70px;
}
.pic{
 text-decoration:none;
 color:white;
}
p{
  text-align:center;
  padding:10px;
  background-color:gray;
  margin-top: 5px;
  border-radius:10px;
  box-shadow:5px 5px 10px 1px;
}
h4{
  text-align:center;
  padding-top: 150px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  display: inline-block;
}