.nav{
  height:50px;
  background-color :lightblue;
  border:2px solid black ;
}
.nav div{
  display:inline-block;
  left: 0px;
  padding-right:15px;
  font-size:25px;
  font-family:bold;
}
.nav ul{
  position: absolute;
  right:3px;
  top: 5px;
}
.nav ul li{
  display:inline-block;
  padding:20px;
}
body{
  background:url("/website project/abstract-mountains-digital-art-wallpaper-preview.jpg");
  background-size:cover;
  height:100vh;
}
.text{
  text-align:center;
  display: flex;
  justify-content:center;
  align-items: center;
  height:50vh;
  
}